#yamaguchibutton,
#jpbutton,
#worldbutton{width:200px;
              height:50px;
              font-size:20px;
              border-radius:20px;
              cursor:pointer;
              transition:transform 0.2s ease;}
.map-buttons{style:flex;
             justify-content:center;
             Align-items:center;}
#japan-map svg {
  display:flex;
  justify-content:center;
  Align-items:center;
  width:700px;
height:630px;
  margin:20px 70px 20px 160px;
  }
.geolonia-svg-map  .prefecture{fill:#f7f7f7;
  stroke:#666666;
  cursor:pointer;
}
