.map-buttons{display:flex;
             justify-content:center;
             Align-items:center;}


#campus-button,
#jp-button{width:200px;
              height:50px;
              font-size:30px;
              border-radius:20px;
              cursor:pointer;
              transition:transform 0.2s ease;
              font-family:"Hachi Maru Pop", sans-serif;
              font-weight:400;
              font-style:normal;}


#campus-map,
#japan-map
#prefecture-map{
  display:flex;
  justify-content:center; 
  max-width: 1000px;
  width:100%;
  height: 450px;
  margin: 0 auto 30px auto;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#japan-map svg {        
   max-width: 1000px;
  width:100%;
  height: 450px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #f9f9f9;}
